--title "SPARQL - SPARQL for RDF.rb"
--output-dir doc/yard
--protected
--no-private
--hide-void-return
--markup markdown
--readme README.md
-
AUTHORS
CREDITS
UNLICENSE
VERSION
etc/sparql11.bnf
etc/sparql11.html
etc/earl.html
